
<h1>Submit Your Feedback</h1>

<!-- <% if (errors) { %>
    <ul style="color: red;">
        <% errors.forEach(error => { %>
            <li><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %> -->

<form action="/submit" method="POST">
    <input type="text" name="name" placeholder="Your Name" value="<%= formData?.name || '' %>">
    <br>
    <textarea name="message" placeholder="Your Feedback"><%= formData?.message || '' %></textarea>
    <br>
    <button type="submit">Submit</button>
</form>
